.top-modal {
     position: fixed;
     top: -100%; /* Start off-screen */
     left: 0;
     right: 0;
     background-color: rgba(6, 34, 41, 0.829);
     transition: top 0.3s ease; /* Animate the sliding effect */
     z-index: 1000; /* Make sure it's on top */
     box-shadow: 0 1px 10px rgba(6, 7, 7, 0.116);
     height: 100vh;
 }
 .modals_test_contener{
   position: absolute;
   top: 50%;
   left: 27%;
   color: #fff;
   font-size: 40px;

 }

 .top-modal.open {
     top: 0; /* Move to the top when open */
     transition: 0.8s;
 }
 
 .modal-content {
     background: white;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
     position: relative;
     height: 100px;
 }
 
 .close-button {
     position: absolute;
     bottom: 10px;
     right: 10px;
     background: transparent;
     border: none;
     font-size: 20px;
     cursor: pointer;
     transition: 2s;
     background-color: rgb(20, 97, 93);
     color: #fff;
     padding: 4px 10px;
     border-radius: 50%;
 }
 .close-button:hover{
    background-color: rgb(11, 43, 41);

 }
 .taskList_model{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
 }
 .taskList_model button{
padding: 9px 20px;
width: 200px;
border: none;
background-color: var(--therd_color);
cursor: pointer;
font-size: 19px;
border-radius: 20px 0 0 0 ;
}
.taskList_model button:hover{
    background-color: #eca168c0;
}
.createAccountContener .deletBtn{
    background-color: #ec7168;
    margin-top: 60px;
    width: 100%;
    border-radius: 0;
   
}
 @media screen and (max-width:700px) {
    .modals_test_contener{
        position: absolute;
        top: 50%;
        left: 27%;
        color: #fff;
        font-size: 20px;
     
      }
 }