.tasklistSlide{
     position: fixed;
     top: 0;
     right: 0;
     background: #ffffff;
     height: 100vh;
     width: 300px;
   
     z-index: 201;
     box-shadow: 0 3px 2px rgba(0, 0, 0, 0.616);

}
.closed{
    position: fixed;
    top: 0;
    right: -300px;
    transition: 1s;

}
.open{
     top: 0;
     right: 0px;
     transition: 1s;
}
.main_task_contener {
     padding: 20px;
}
.main_task_contener p{
     width: 100%;
     padding: 10px 0;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
.main_task_contener input{
     border: none;
     width: 88%;
     height: 28px;
     outline: none;
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.452);
     padding: 4px;
}
.searchIcone{
     background-color: black;
     color: #fcfcfc;
     height: 28px;
     font-size: 30px;
     cursor: pointer;
   
}
.getedTasks h2{
     padding: 3px 10px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.452);
}
.listTasksForFind{
     padding: 10px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.452);
     display: flex;
    gap: 30px;
     cursor: pointer;
}
.getedTasks .listTasksForFind:nth-of-type(odd){
     background-color: #e0e8eb;
}