body{
     background-color: var(--goodwhiet);
     position: relative;
}
.AuthLayer{
    /* background-color: var(--sign);  */
    background: linear-gradient(135deg, #dfecfde8 50%, #749cb588 90%);
position: relative;
    height: 100vh;
   max-width: 70%;

}
.AuthLayerChildPage{
     position: absolute;
     top: 10%;
     right: -36%;
     transition:  2s;
     /* transform: translate(50%, 50%); */
}
.LoginButton{
     position: absolute;
     right: 0;
     top: 20px;
     border: none;
     width: 200px;
     background-color: var(--button);
     height: 40px;
     color: var(--goodwhiet);
     font-size: 20px;
     border-radius: 20px 0 0 0;
     cursor: pointer;
}
.LoginButton:hover{
     background-color: #13023a;
}
.BackButton{
     /* position: relative; */
     background-color: #b1c6c9;
     width: 300px;
     height: 500px;
     border-radius: 20px 0 0 0;

}