
.login_contener{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-top: 40px;
 
}
.login_contener,.login_form{
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 300px;
  height: 400px;
  font-size: 15px;
  margin-top: 40px;
}
.login_form{
  border-radius: 27px;
  background: #ddeff3;
  box-shadow: inset 23px -23px 46px #9facaf,
              inset -23px 23px 46px #e5f5f3;

  padding: 30px 30px;
  border-radius: 10px;
}
.login_form input{
  padding: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  
}
.login_form button{
  padding: 6px;
  border: none;
  outline: none;
  background: var(--blueblack);
  cursor: pointer;
  font-size: 20px;
}
.directLogiOrSign{
  color: green;
  font-size: 14px;
  /* margin: 10px; */
  padding: 6px;
}
.directLogiOrSign a{
  display: flex;
  align-items: center;
   gap: 10px;
   text-decoration: none;
   font-weight: bold;
}
