
.signup_contener{
  width: 300px;
  font-size: 15px;

}
.signUp_form{
  border-radius: 27px;
  background: #ddeff3;
  box-shadow: inset 23px -23px 46px #9facaf,
              inset -23px 23px 46px #e5f5f3;

  padding: 30px 30px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
}
.signUp_form input{
  padding: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}
.signUp_form button{
  padding: 6px;
  border: none;
  outline: none;
  background: var(--blueblack);
  cursor: pointer;

}
.Loedbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-size: 20px;
  color: #fff;

}